<link rel="stylesheet" href="styles/nav.css" />
<aside id="left-column" id="left-column">
  <nav class="left-nav">
    <h1>Loc Dashboard</h1>
    <a href="/departments/form">Edit Divisons</a>
    <a href="/summary">Summary</a>
    <a href="#">Version History</a>
    <a href="#">Settings</a>
  </nav>
</aside>
