<link rel="stylesheet" href="styles/nav.css" />
<header>
  <nav class="topNavBar">
    <div class="navItem1">
      <button id="hamburger-button" onclick="toggleNavBar()">☰</button>
      <a href="/"
        ><img src="/images/GRC_logowhite.svg" alt="home" width="100"
      /></a>
    </div>
    <div class="navItem2">
      <label>Programs Under Review</label>
      <div class="toggle" id="toggle"></div>
      <label for="year">Academic Year</label>
      <select name="year" id="year">
        <option value="year_22_23">2022-23</option>
        <option value="year_23_24">2023-24</option>
        <option value="year_24_25">2024-25</option>
        <option value="year_25_26">2025-26</option>
        <option value="year_26_27">2026-27</option>
      </select>
      <a href="/login" id="login-button">
        <% if(username){ %> <%= username %> <% } else{%> Login <% } %>
      </a>
    </div>
  </nav>
</header>
