<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="icon" href="/images/GRC_logo.svg" />
    <script src="/js/data.js" defer></script>
    <script src="/js/formValidation.js" defer></script>
    <script src="/js/formData.js" defer></script>
    <title>Divisions Management</title>
  </head>

  <body>
    <form id="department-form" action="submit_report" method="post">
      <fieldset>
        <legend>Division Management</legend>
        <h3>Changes saved!</h3>
        <div class="grid-container">
          <div class="grid-item1">

        <div class="button-container">
          <a href="/" id="backButton" class="back-button">
            <svg
              class="back-icon"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
            Back to home page
          </a>
          <a href="/summary" class="back-button">
              <svg
                class="back-icon"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="15 18 9 12 15 6"></polyline>
              </svg>
              View Summary</a>
        </div>
      </fieldset>
    </form>
  </body>
</html>
