<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loc Dashboard</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="icon" href="/images/GRC_logo.svg" />
  </head>

  <body>
    <!-- Side-bar Area, Left column -->
    <aside class="left-column" id="left-column">
      <h1>Loc Dashboard</h1>
      <button id="closeNavBar" onclick="navBar(false)">X</button>
      <nav>
        <ul>
          <li><a href="/departments/form">Edit Divisons</a></li>
          <li><a href="/summary">Summary</a></li>
          <li><a href="#">Version History</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </nav>
    </aside>

    <!-- Right column -->
    <div id="main-content">
      <header>
        <button id="openNavBar" onclick="navBar(true)">☰</button> 
        <div class="welcomeSearchBar">
          <h1>Welcome, user</h1>
          <input
            type="text"
            name="search"
            class="search"
            placeholder="Search by Division"
          />
        </div>
      </header>
      <!-- Different Departments -->
      <main>
        <!-- <a href="/departments/form" class="card">
          <div class="space-between">
            <h2>Edit Divisions</h2>
          </div>
          <ul>
            <li>Division Name: <b>[Editable]</b></li>
            <li>Dean: <b>[Editable]</b></li>
            <li>PEN Contact: <b>[Editable]</b></li>
            <li>LOC Rep: <b>[Editable]</b></li>
            <li>Chair: <b>[Editable]</b></li>
          </ul>
        </a> -->

        <!-- for each loop to display different academic divisions -->
        <% academicDivisions.forEach(academicDivision => { %>
        <div class="card">
          <div class="card-head">
            <h2><%= academicDivision.divisionName %></h2>
            <img
              src="<%= academicDivision.img %>"
              alt="<%= academicDivision.divisionName %> Logo"
              style="width: 60px"
            />
          </div>
          <div class="card-body">
            <ul>
              <% academicDivision.programs.forEach(program => { %>
              <li><%= program %></li>
              <% });%>
            </ul>
          </div>
          <div class="card-foot">
            <a href="/summary" class="back-button other-button"> View Summary</a>
            <a href="/departments/form" class="back-button other-button">Edit Details✏️</a>
          </div>
        </div>
        <% });%>
      </main>
      <!-- footer -->
      <footer>© 2025 Loc Dashboard | Privacy Policy | Contact</footer>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
