<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loc Dashboard</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="icon" href="/images/GRC_logo.svg" />
  </head>

  <body>
    <!-- Side-bar Area, Left column -->
    <aside class="left-column" id="left-column">
      <h1>Loc Dashboard</h1>
      <button id="closeNavBar" onclick="navBar(false)">X</button>
      <nav>
        <ul>
          <li><a href="/departments/form">Edit Divisons</a></li>
          <li><a href="/summary">Summary</a></li>
          <li><a href="#">Version History</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </nav>
    </aside>

    <!-- Right column -->
    <div class="main-content">
      <header>
        <button id="openNavBar" onclick="navBar(true)">☰</button>
        <h1>Welcome, user</h1>
        <div>
          <input
            type="text"
            name="search"
            class="search"
            placeholder="search"
          />
        </div>
      </header>
      <!-- Different Departments -->
      <main>
        <a href="/departments/form" class="card">
          <div class="space-between">
            <h2>Edit Divisions</h2>
            <div id="pencil">✏️</div>
          </div>
          <ul>
            <li>Division Name: <b>[Editable]</b></li>
            <li>Dean: <b>[Editable]</b></li>
            <li>PEN Contact: <b>[Editable]</b></li>
            <li>LOC Rep: <b>[Editable]</b></li>
            <li>Chair: <b>[Editable]</b></li>
          </ul>
        </a>

        <div class="card">
          <h2>Fine Arts</h2>
          <ul>
            <li>Division Name: Music</li>
            <li>Dean: Paul Metevier</li>
            <li>PEN Contact: Monica Bowen</li>
            <li>LOC Rep: Liz Peterson</li>
            <li>Chair: Sam = $333, Kelly = $333, Ruth = $333</li>
          </ul>
        </div>

        <div class="card">
          <h2>Humanities</h2>
          <ul>
            <li>Division Name: Communication Studies</li>
            <li>Dean: Katie Cunnion</li>
            <li>PEN Contact: Lisa Luengo</li>
            <li>LOC Rep: Liz Peterson</li>
            <li>Chair: TBD</li>
          </ul>
        </div>

        <div class="card">
          <h2>Social Science</h2>
          <ul>
            <li>Division Name: Anthropology</li>
            <li>Dean: Mark Thomason</li>
            <li>PEN Contact: Joy Crawford</li>
            <li>LOC Rep: Liz Peterson</li>
            <li>Chair: Madeleine = $500, Joy Crawford = $500</li>
          </ul>
        </div>

        <div class="card">
          <h2>History</h2>
          <ul>
            <li>Division Name: TBD</li>
            <li>Dean: TBD</li>
            <li>PEN Contact: TBD</li>
            <li>LOC Rep: TBD</li>
            <li>Chair: TBD</li>
          </ul>
        </div>

        <div class="card">
          <h2>Political Science</h2>
          <ul>
            <li>Division Name: TBD</li>
            <li>Dean: TBD</li>
            <li>PEN Contact: TBD</li>
            <li>LOC Rep: TBD</li>
            <li>Chair: Lindsey = $500, Yoav = $500</li>
          </ul>
        </div>

        <div class="card">
          <h2>Psychology</h2>
          <ul>
            <li>Division Name: TBD</li>
            <li>Dean: TBD</li>
            <li>PEN Contact: TBD</li>
            <li>LOC Rep: TBD</li>
            <li>Chair: Joy = $500, Jerry = $500</li>
          </ul>
        </div>

        <div class="card">
          <h2>English</h2>
          <ul>
            <li>Division Name: English</li>
            <li>Dean: Ian Sherman</li>
            <li>PEN Contact: Jake Frye</li>
            <li>LOC Rep: Liz Peterson</li>
            <li>
              Chair: Aley Martin: $175, Claire Salcedo: $175, Ericka Nelson:
              $175, Jake: $475
            </li>
          </ul>
        </div>

        <div class="card">
          <h2>Science</h2>
          <ul>
            <li>Division Name: Anatomy and Physiology</li>
            <li>Dean: Katy Shaw and Danny Najera</li>
            <li>PEN Contact: Nicole Feider</li>
            <li>LOC Rep: Heather Lambert</li>
            <li>Chair: TBD</li>
          </ul>
        </div>

        <div class="card">
          <h2>Biology/Environmental Science</h2>
          <ul>
            <li>Division Name: Biology/Environmental Science</li>
            <li>Dean: TBD</li>
            <li>PEN Contact: TBD</li>
            <li>LOC Rep: TBD</li>
            <li>
              Chair: $334 - Leo Studach, $333 - Stephanie Hoffman, $333 - Danny
              Najera
            </li>
          </ul>
        </div>

        <div class="card">
          <h2>Geology/Oceanography</h2>
          <ul>
            <li>Division Name: Geology/Oceanography</li>
            <li>Dean: TBD</li>
            <li>PEN Contact: TBD</li>
            <li>LOC Rep: TBD</li>
            <li>Chair: TBD</li>
          </ul>
        </div>

        <div class="card">
          <h2>Business, Law, and Education</h2>
          <ul>
            <li>Division Name: Accounting</li>
            <li>Dean: Lea Ann Simpson</li>
            <li>PEN Contact: Jane Swenson</li>
            <li>LOC Rep: Mary Singer</li>
            <li>Chair: TBD</li>
          </ul>
        </div>

        <div class="card">
          <h2>Business Management</h2>
          <ul>
            <li>Division Name: TBD</li>
            <li>Dean: TBD</li>
            <li>PEN Contact: TBD</li>
            <li>LOC Rep: TBD</li>
            <li>Chair: TBD</li>
          </ul>
        </div>

        <div class="card">
          <h2>Business Marketing/Entrepreneurship</h2>
          <ul>
            <li>Division Name: TBD</li>
            <li>Dean: TBD</li>
            <li>PEN Contact: TBD</li>
            <li>LOC Rep: TBD</li>
            <li>Chair: TBD</li>
          </ul>
        </div>

        <div class="card">
          <h2>Technology</h2>
          <ul>
            <li>Division Name: Aviation</li>
            <li>Dean: Michael Wood</li>
            <li>PEN Contact: Josh Archer</li>
            <li>LOC Rep: Angie Brenner</li>
            <li>Chair: Tad Henry = $1000</li>
          </ul>
        </div>

        <div class="card">
          <h2>CAD Design and Engineering Tech.</h2>
          <ul>
            <li>Division Name: CAD Design and Engineering Tech.</li>
            <li>Dean: TBD</li>
            <li>PEN Contact: TBD</li>
            <li>LOC Rep: TBD</li>
            <li>Chair: Seunghye Jang = $1000</li>
          </ul>
        </div>

        <div class="card">
          <h2>Natural Resources</h2>
          <ul>
            <li>Division Name: Natural Resources</li>
            <li>Dean: TBD</li>
            <li>PEN Contact: TBD</li>
            <li>LOC Rep: TBD</li>
            <li>Chair: TBD</li>
          </ul>
        </div>

        <div class="card">
          <h2>Health Science</h2>
          <ul>
            <li>Division Name: Practical Nursing</li>
            <li>Dean: Leslie Kessler</li>
            <li>PEN Contact: Lionel Candido Flores</li>
            <li>LOC Rep: Thom Jackson</li>
            <li>Chair: TBD</li>
          </ul>
        </div>

        <div class="card">
          <h2>Physical Therapist Assistant</h2>
          <ul>
            <li>Division Name: Physical Therapist Assistant</li>
            <li>Dean: TBD</li>
            <li>PEN Contact: TBD</li>
            <li>LOC Rep: TBD</li>
            <li>Chair: Pam Kikillus = $500, Anna Neil = $500</li>
          </ul>
        </div>

        <div class="card">
          <h2>Trades</h2>
          <ul>
            <li>Division Name: Automotive Technology</li>
            <li>Dean: David Lewis</li>
            <li>PEN Contact: Ben Orr</li>
            <li>LOC Rep: Mary Singer</li>
            <li>Chair: TBD</li>
          </ul>
        </div>

        <div class="card">
          <h2>Manufacturing</h2>
          <ul>
            <li>Division Name: Manufacturing</li>
            <li>Dean: TBD</li>
            <li>PEN Contact: TBD</li>
            <li>LOC Rep: TBD</li>
            <li>Chair: Bradley Chin - lead</li>
          </ul>
        </div>

        <div class="card">
          <h2>Transitional Studies</h2>
          <ul>
            <li>Division Name: Health and Physical Education</li>
            <li>Dean: Lionel Candido Flores</li>
            <li>PEN Contact: TBD</li>
            <li>LOC Rep: Thom Jackson</li>
            <li>Chair: TBD</li>
          </ul>
        </div>
      </main>
      <!-- footer -->
      <footer>© 2025 Loc Dashboard | Privacy Policy | Contact</footer>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
