<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loc Dashboard</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="icon" href="/images/GRC_logo.svg" />
    <script src="js/index.js"></script>
  </head>

  <body>
    <!-- Side-bar Area, Left column -->
    <aside class="left-column" id="left-column">
      <h1>Loc Dashboard</h1>
      <button id="closeNavBar" onclick="navBar(false)">X</button>
      <nav>
        <ul>
          <li><a href="#">Divisions</a></li>
          <li><a href="#">Programs</a></li>
          <li><a href="#">Personnel</a></li>
          <li><a href="#">Version History</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </nav>
    </aside>

    <!-- Right column -->
    <div class="main-content">
      <header>
        <button id="openNavBar" onclick="navBar(true)">☰</button>
        <h1>Welcome, user</h1>
      </header>
      <!-- Different Departments -->
      <main>
        <a href="/departments/math.html" class="card">
          <div class="space-between">
            <h2>Edit Divisions</h2>
            <div id="pencil">✏️</div>
          </div>
          <ul>
            <li>Division Name: <b>[Editable]</b></li>
            <li>Dean: <b>[Editable]</b></li>
            <li>PEN Contact: <b>[Editable]</b></li>
            <li>LOC Rep: <b>[Editable]</b></li>
            <li>Chair: <b>[Editable]</b></li>
          </ul>
        </a>

        <!-- <div class="card">
          <h2>English</h2>
          <ul>
            <li>Division Name: Technology</li>
            <li>Dean: Miebeth Castillo-Booth</li>
            <li>PEN Contact: Angie Brenner</li>
            <li>LOC Rep: Josh Archer</li>
            <li>Chair: Michael Wood</li>
          </ul>
        </div>
        <div class="card">
          <h2>Science</h2>
          <ul>
            <li>Division Name: Technology</li>
            <li>Dean: Miebeth Castillo-Booth</li>
            <li>PEN Contact: Angie Brenner</li>
            <li>LOC Rep: Josh Archer</li>
            <li>Chair: Michael Wood</li>
          </ul>
        </div> -->
        <!-- More departments to add later on -->
        <!-- <div class="card">math
                 <ul>
                    <li>Division Name: Technology</li>
                    <li>Dean: Miebeth Castillo-Booth</li>
                    <li>PEN Contact: Angie Brenner</li>
                    <li>LOC Rep: Josh Archer</li>
                    <li>Chair: Michael Wood</li>
                </ul>
            </div>
            <div class="card">eng
                 <ul>
                    <li>Division Name: Technology</li>
                    <li>Dean: Miebeth Castillo-Booth</li>
                    <li>PEN Contact: Angie Brenner</li>
                    <li>LOC Rep: Josh Archer</li>
                    <li>Chair: Michael Wood</li>
                </ul>
            </div>
            <div class="card">sci
                 <ul>
                    <li>Division Name: Technology</li>
                    <li>Dean: Miebeth Castillo-Booth</li>
                    <li>PEN Contact: Angie Brenner</li>
                    <li>LOC Rep: Josh Archer</li>
                    <li>Chair: Michael Wood</li>
                </ul>
            </div>
            <div class="card">math
                 <ul>
                    <li>Division Name: Technology</li>
                    <li>Dean: Miebeth Castillo-Booth</li>
                    <li>PEN Contact: Angie Brenner</li>
                    <li>LOC Rep: Josh Archer</li>
                    <li>Chair: Michael Wood</li>
                </ul>
            </div>
            <div class="card">eng
                 <ul>
                    <li>Division Name: Technology</li>
                    <li>Dean: Miebeth Castillo-Booth</li>
                    <li>PEN Contact: Angie Brenner</li>
                    <li>LOC Rep: Josh Archer</li>
                    <li>Chair: Michael Wood</li>
                </ul>
            </div>
            <div class="card">sci
                 <ul>
                    <li>Division Name: Technology</li>
                    <li>Dean: Miebeth Castillo-Booth</li>
                    <li>PEN Contact: Angie Brenner</li>
                    <li>LOC Rep: Josh Archer</li>
                    <li>Chair: Michael Wood</li>
                </ul>
            </div> -->
      </main>
      <!-- footer -->
      <footer>© 2025 Loc Dashboard | Privacy Policy | Contact</footer>
    </div>
  </body>
</html>
