<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Loc Dashboard</title>
  <link rel="stylesheet" href="/styles/home.css" />

  <link rel="icon" href="/images/GRC_logo.svg" />
</head>

<body>
  <%- include('partials/header') %>
    <main>
      <div id="main-aside"><%- include('partials/aside') %></div>
      <div>
      <h1>Summary Table</h1>
      <div class="button-container-confirm">
        <a href="/" id="backButton" class="main-button">
          <svg class="back-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <polyline points="15 18 9 12 15 6"></polyline>
          </svg>
          Back to home page
        </a>
    </main>
    <%- include('partials/footer') %>
</body>

</html>