<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="icon" href="/images/GRC_logo.svg" />
    <script src="/js/data.js" defer></script>
    <script src="/js/formValidation.js" defer></script>
    <script src="/js/formData.js" defer></script>
    <title>Divisions Management</title>
  </head>

  <body>
    <form id="department-form" action="submit_report" method="post">
      <fieldset>
        <legend>Division Management</legend>

        <label for="division">Division Name:</label>
        <span class="error" id="err-division"
          >Please input a Division Name!</span
        >
        <br />
        <select name="division" id="division">
          <option value="art">Fine Arts</option>
          <option value="humanities">Humanities</option>
          <option value="social">Social Science</option>
          <option value="english">English</option>
          <option value="science">Science</option>
          <option value="technology">Technology</option>
          <!-- <option value="health">Health Science</option>
          <option value="trades">Trades</option> -->
        </select>
        <br />

        <label for="program">Academic Program:</label>
        <input type="text" name="program" id="program" />
        <br />
        <label for="chair">Divison Chair:</label>
        <span class="error" id="err-chair">Please input a Chair!</span>
        <input type="text" name="chair" id="chair" />
        <label for="dean">Dean:</label>
        <span class="error" id="err-dean">Please input a Dean!</span>
        <input type="text" name="dean" id="dean" />
        <br />
        <label for="locRep">LOC Rep:</label>
        <span class="error" id="err-locRep">Please input a LOC Rep!</span>
        <input type="text" name="locRep" id="locRep" />
        <br />
        <label for="pen">PEN Contact:</label>
        <span class="error" id="err-pen">Please input a PEN Contact!</span>
        <input type="text" name="pen" id="pen" />
        <br />
        <label for="payee">Payee(s)</label>
        <input type="text" name="payee" id="payee" />
        <label for="paid">Has Been Paid</label>
        <input type="checkbox" name="paid" id="paid" />
        <label for="report">Report</label>
        <input type="checkbox" name="report" id="report" />
        <label for="notes">Notes</label>
        <textarea name="notes" id="notes"></textarea>
        <br />
        <div class="button-container">
          <div class="main-buttons">
            <button type="button" id="edit-Details">Edit Details</button>
            <button type="button" id="cancel-button">Cancel</button>
            <button type="submit" id="save-button">Save</button>
          </div>

          <a href="/" id="backButton" class="back-button">
            <svg
              class="back-icon"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
            Back to home page
          </a>
        </div>
      </fieldset>
    </form>
    <!-- <ul>
        <li>Division Name: Technology</li>
        <li>Dean: Miebeth Castillo-Booth</li>
        <li>PEN Contact: Angie Brenner</li>
        <li>LOC Rep: Josh Archer</li>
        <li>Chair: Michael Wood</li>
    </ul> -->
  </body>
</html>
