@import url("variables.css");

@import url("components/buttons.css");

main {
  display: flex;
}

h2 {
  color: var(--primary);
  text-align: center;
}

#programs {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem;
}
#main-content {
  flex-grow: 1;
}
.division {
  flex-grow: 1;
}

fieldset {
  display: inline-block;
}

.division-container {
  border: 1px solid black;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
}

.division-details {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.division-details label {
  font-size: larger;
}

.flex-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.grid-container {
  display: grid;
  gap: 1rem;
  overflow-y: auto;
  flex: 1;
  border: 1px solid black;
  border-top: 0.5rem solid var(--primary);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item {
  display: flex;
  justify-content: space-between;
}

legend {
  text-align: center;
  font-weight: 600;
}

/* error styling */
.error {
  color: red;
  display: none;
}

#edit-details {
  background-color: var(--primary);
  color: white;
}

#selectDivision {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

select {
  padding: 0.5rem;
  font-weight: 600;
  color: var(--primary);
  font-size: larger;
  border-radius: 10px;
  cursor: pointer;
}

input[type="text"],
input[type="number"] {
  border-color: var(--primary);
  padding: 8px;
  font-size: medium;
  border-radius: 4px;
}

.notes {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
}

/* Style for each individual Name/Amount row */
.payee-pair {
  display: flex;
  gap: 10px; /* Space between the name input and the amount input */
  align-items: center; /* Vertically center the inputs */
}

/* Styling the inputs within the payee pair */
.payee-pair input[type="text"],
.payee-pair input[type="number"] {
  /* Base styles inherited from general input styling */
  padding: 8px;
  border-radius: 4px;

  /* Make the name input take up more space than the amount */
}

/* Ensure the number input is styled consistently but sized appropriately */
.payee-pair input[type="number"] {
  max-width: 120px; /* Optional: Sets a maximum width for the amount field */
  text-align: right; /* Helps align numbers neatly */
}

/* Optional: Add a subtle focus style */
input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 1px var(--primary);
  outline: none;
}

.payee-inputs-container {
  display: flex; /* Use flex to align the inputs and future "Add" button vertically */
  flex-direction: column;
  gap: 10px; /* Space between each payee pair */
  margin-top: 5px;
  margin-left: 1rem;
}