@import url("variables.css");

@import url("components/card.css");

@import url("components/buttons.css");

main {
  display: flex;
  padding: 1rem;
}

.main {
  flex-grow: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  overflow-y: auto;
  flex: 1;
}

.search {
  width: 100%;
  border-radius: 0.7rem;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  padding: 12px;
}

.welcomeSearchBar {
  margin: 1rem;
}

.add-remove-programs a{
  margin-right: -1rem;
  font-size: 1.3rem;
  padding: -1rem;
}