/* layout.css is the file for all the structural layout with the grid and two column layout. */
html {
  background-color: var(--secondary);
}
/* two column layout */
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  transition: all 0.2s ease-in-out;
}

/* left-column | side-bar styling */
aside {
  position: relative;
  background-color: var(--primary);
  width: 20%;
  height: 100%;
  color: white;

  transition: width 0.2s ease-in-out;
  overflow: hidden; /* hides content when width shrinks */
  flex-shrink: 0;
}
nav ul li a {
  text-decoration: none;
  color: white;
}

/* right-column styling */
#pencil {
  margin-top: 0.8rem;
  margin-right: 0.8rem;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
main a {
  text-decoration: none;
  color: black;
}
main a:hover {
  color: var(--primary);
}
#main-content {
  width: 100%;
  flex-grow: 1;
  background-color: var(--secondary);
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: width 0.2s ease-in-out;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  overflow-y: auto;
  flex: 1;
}

/* footer styling */
footer {
  color: white;
  padding: 5px;
  background-color: var(--primary);
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grid-item8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notes {
  display: flex;
  flex-direction: column;
}

.nav-closed #main-content #openNavBar {
  display: block;
}

.nav-closed aside {
  width: 0;
  padding: 0;
}

.welcomeSearchBar {
  margin: 1rem;
}

.search {
  border-radius: 0.7rem;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

@media (max-width: 1100px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  aside {
    position: absolute;
    left: 0;
    z-index: 100;
    width: 0;
    color: white;
    height: 100%;
    background-color: var(--primary);
  }

  .nav-open-mobile aside {
    width: 80%;
  }

  #main-content #openNavBar {
    display: block;
  }

  .nav-open-mobile #main-content #openNavBar {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
