@import url("variables.css");

:root {
  --header-height: 60px;
}

body {
  padding-top: var(--header-height);
  overflow-x: hidden; /* removes the horizontal scrollbar */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1001; 
  background-color: var(--primary); 
}

.topNavBar {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-dark);
  height: 100%;
  align-items: center; 
}

.navItem1 {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

#hamburger-button {
  background-color: var(--primary);
  color: var(--primary-color);
  border: none;
  font-size: x-large;
  cursor: pointer;
  border-radius: 0.5rem;
}

#hamburger-button:hover {
  background-color: var(--tertiary);
}

.navItem2 label {
  color: var(--primary-color);
  font-size: larger;
}

.navItem2 select {
  padding: 0.5rem;
  font-weight: 600;
  color: var(--primary);
  font-size: larger;
  border-radius: 10px;
  cursor: pointer;
}

.navItem2 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 1rem;
}

#login-button {
  background-color: var(--primary-color);
  color: var(--primary);
  padding: 0.6rem 1.1rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: larger;
}

/* left-column | side-bar styling */
#left-column {
  width: 250px;
  position: fixed; 
  
  top: var(--header-height); 
  height: calc(100vh - var(--header-height)); 
  
  left: 0;
  background-color: var(--primary); 
  color: var(--primary-color);
  transition: transform 0.3s ease-in-out; 
  z-index: 1000; 
  overflow-y: auto; 
}

#main-aside {
  width: 250px; 
  flex-shrink: 0; 
}

.left-nav {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.left-nav a {
  color: var(--primary-color);
  text-decoration: none;
}


body.nav-closed #left-column {
  transform: translateX(-100%);
}

body.nav-closed #main-aside {
  width: 0;
  overflow: hidden; 
}

footer {
  position: fixed;
  width: 100%;
  color: white;
  padding: 5px;
  background-color: var(--primary);
  text-align: center;
  border-top: 1px solid var(--secondary);
  bottom: 0;
  left: 0;
}

/* footer.active {

} */