/*
  style.css
  This file is the main entry point and imports all other style partials.
*/

/* declares primary,secondary colors and font family */
@import url("variables.css");

/* styling for HTML elements without classes */
@import url("base.css");

/* Layout (The 2 column structure, grid containers) */
/* @import url("layout.css"); */

/* styling for the form */
@import url("components/form.css");

/* styling for every button */
@import url("components/buttons.css");

/* styling for the cards */
@import url("components/card.css");
