button {
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.button-container-confirm {
  display: flex;
  gap: 5px;
}

#save-button {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 11px 22px;
}

#cancel-button {
  background-color: var(--secondary);
  color: var(--primary);
  border: 1px solid var(--primary);

  padding: 10px 15px;

  transition: all 0.2s ease-in-out;
}

#cancel-button:hover,
#cancel-button:focus,
.main-button:hover,
.main-button:focus {
  box-shadow: 0 0 0 2px var(--primary);

  background-color: #e6e8eb;

  border-color: var(--primary);

  outline: none;
}

#cancel-button:focus,
.main-button:focus {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.view-only[readonly] {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #555;
  cursor: default;
}

.main-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  border: 1px solid var(--primary);
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;

  transition: all 0.2s ease-in-out;

  box-sizing: border-box;
}

/* Icon Specific Styling */
.main-button .back-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  stroke: var(--primary);
  transition: stroke 0.2s ease-in-out;
}

.main-buttons {
  display: flex;
}

.main-buttons #save-button {
  margin-left: 0.5rem;
}

.button-spacing {
  margin: 1rem;
}
/* Toggle Switch Styling */
.toggle{
  width: 50px;
  height: 25px;
  background: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;
}
.toggle::after{
  content: "";
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2.5px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.toggle.active{
  background-color: var(--primary);
}
.toggle.active::after{
  transform: translateX(25px);
}