.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: white;
  box-shadow: 0px 3px 5px;
  border-radius: 5px;
}
.card h2 {
  padding: 10px;
}

.card-head {
  display: flex;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-grow: 1;
}
.card-foot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.card-head img {
  margin: 0.5rem;
}
